.input {
    width: 400px;
    height: 40px;
    font-size: 18px;
    padding-inline: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-bottom: 20px;
}

.error-readings {
    display: flex;
    gap: 5px;
    font-size: 18px;
    margin-block: 5px;
}

.success {
    color: #29934F;
}

.error {
    color: #B23737;
}